
.vs/Project1/FileContentIndex/4ce04823-8a4f-4b46-bfc8-09bdf6dd338f.vsidx
.vs/Project1/FileContentIndex/b77508e8-cbf8-43cd-b455-64f92c4eed31.vsidx
.vs/Project1/v17/.suo
.vs/Project1/v17/DocumentLayout.backup.json
.vs/Project1/v17/Browse.VC.db
.vs/Project1/v17/DocumentLayout.json
.vs/Project1/v17/ipch/AutoPCH/5290f85cb4b4c3fc/MAIN.ipch
.vs/Project1/v17/ipch/AutoPCH/569edb5385c16197/IMGUI.ipch
.vs/Project1/v17/ipch/AutoPCH/e9bc9f434f98f9e6/MAIN.ipch
.vs/Project1/v17/Solution.VC.db
Project1/Release/imgui.obj
Project1/Release/imgui_demo.obj
Project1/Release/imgui_draw.obj
Project1/Release/imgui_impl_dx9.obj
Project1/Release/imgui_impl_win32.obj
Project1/Release/imgui_tables.obj
Project1/Release/imgui_widgets.obj
Project1/Release/main.obj
Project1/Release/Project1.dll.recipe
Project1/Release/Project1.iobj
Project1/Release/Project1.ipdb
Project1/Release/Project1.log
Project1/Release/Project1.tlog/CL.command.1.tlog
Project1/Release/Project1.tlog/Cl.items.tlog
Project1/Release/Project1.tlog/CL.write.1.tlog
Project1/Release/Project1.tlog/CL.read.1.tlog
Project1/Release/Project1.tlog/link.command.1.tlog
Project1/Release/Project1.tlog/link.read.1.tlog
Project1/Release/Project1.tlog/Project1.lastbuildstate
Project1/Release/Project1.tlog/link.secondary.1.tlog
Project1/Release/Project1.tlog/link.write.1.tlog
Project1/Release/vc143.pdb
Release/Project1.dll
Release/Project1.pdb
Project1/Release/imgui.obj
Project1/Release/imgui_demo.obj
Project1/Release/imgui_draw.obj
Project1/Release/imgui_impl_dx9.obj
Project1/Release/imgui_impl_win32.obj
Project1/Release/imgui_tables.obj
Project1/Release/imgui_widgets.obj
Project1/Release/main.obj
Project1/Release/Project1.dll.recipe
Project1/Release/Project1.iobj
Project1/Release/Project1.ipdb
Project1/Release/Project1.log
Project1/Release/Project1.tlog/CL.command.1.tlog
Project1/Release/Project1.tlog/Cl.items.tlog
Project1/Release/Project1.tlog/CL.write.1.tlog
Project1/Release/Project1.tlog/CL.read.1.tlog
Project1/Release/Project1.tlog/link.command.1.tlog
Project1/Release/Project1.tlog/link.read.1.tlog
Project1/Release/Project1.tlog/Project1.lastbuildstate
Project1/Release/Project1.tlog/link.secondary.1.tlog
Project1/Release/Project1.tlog/link.write.1.tlog
Project1/Release/vc143.pdb
*.vsidx
